<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://oiapifunctionapp20221122152426.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c83648f1-f206-4abd-b4c3-fbec51567cc6/resourcegroups/NextGen/providers/Microsoft.Web/sites/OIApiFunctionApp20221122152426</ResourceId>
    <UserName>$OIApiFunctionApp20221122152426</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://oiapifunctionapp20221122152426.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>